<section class="widget">
  <header style="background-color: #555555">
    <a *ngIf="hayOrden && !soloLectura" (click)="RestablecerOrden()" title="Volver al orden original"
      style="float: right; color: #ddd; cursor: pointer; font-size: 12px; margin-top: 3px;">
      <i class="fa fa-undo"></i> Restablecer orden
    </a>
    <h5 style="color: white;">
      <strong>Bitacora</strong>
    </h5>
  </header>
  <br>
  <div class="list-group list-group-lg" *ngIf="!Loader">
    <ng-container *ngFor="let Bitacora of Bitacoras; let i = index">
      <div class="linea"
        [attr.draggable]="!soloLectura"
        [attr.title]="!soloLectura ? 'Arrastra para cambiar el orden' : null"
        (dragstart)="onDragStart(i, $event)"
        (dragover)="onDragOver(i, $event)"
        (drop)="onDrop(i, $event)"
        (dragend)="onDragEnd()"
        [ngStyle]="{
          'cursor': soloLectura ? null : (dragIndex !== null ? 'grabbing' : 'grab'),
          'opacity': dragIndex === i ? 0.4 : 1,
          'transition': 'opacity .15s',
          'box-shadow': (dragOverIndex === i && dragIndex !== null && dragIndex !== i)
            ? (dragIndex > i ? 'inset 0 3px 0 #F59325' : 'inset 0 -3px 0 #F59325')
            : null
        }">
        <a class="list-goup-item"  (click)="!soloLectura && VerDetalle(i)">
          <i class="fa fa-circle pull-xs-right mt-sm" style="font-size: 40px;" [ngClass]="{
            'text-success':Bitacora.nombrePrioridad === 'Baja',
            'text-warning':Bitacora.nombrePrioridad === 'Media',
            'text-danger':Bitacora.nombrePrioridad === 'Alta'
          }"></i>
          <h6 class="no-margin" style="color:cornflowerblue">{{Bitacora.nombre + ' ' + Bitacora.paterno}}</h6>
          <small class="text-muted">{{Bitacora.fechaCreacion | date:'dd/MM/yyyy'}}</small>
          <small style="text-indent: 5em; margin-top: 5px;margin-bottom: 0px;display: block;">
            <div [innerHTML]="Bitacora.descripcion"></div>
          </small>
        </a>
        <a class="link" (click)="DescargarArchivo(i)" *ngIf="Bitacora.NombreAdjunto" style="width: 100%; height: 100%; cursor: pointer;">
          <i class="glyphicon glyphicon-glyph-paperclip pull-xs-right mt-sm" style="font-size: 20px; margin-right: 20px; margin-top: 20px">
          </i>
        </a>
        <div style="clear: both;"></div>
      </div>
    </ng-container>
  </div>

  <div class="loader animated fadeIn handle" *ngIf="Loader">
    <span class="spinner">
      <i class="fa fa-spinner fa-spin"></i>
    </span>
  </div>
</section>


<!-- Editar -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
  aria-hidden="true" *ngIf="Prioridades">
  <div class="modal-dialog editar" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="form-group row">
          <div class="col-md-11">
            <h4 class="modal-title" id="exampleModalLongTitle">Editar</h4>
          </div>
          <div class="col-md-1">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="OcultarPopUpEditar()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <form #EForm="ngForm" (ngSubmit)="$event && null">
          <fieldset>
            <legend></legend>
            <div class="form-group row">
              <label for="normal-field" class="col-md-6 form-control-label h5">Prioridad Bitacora(*):</label>
              <div class="col-md-6">
                <select id="drdPrioridad" class="dropdown-toggle select2-chosen-2 form-control requiered" [(ngModel)]="Bitacora.idPrioridad"
                  name="drdPrioridad" appSelectValidator [disabled]="soloLectura">
                  <option value=0 selected>--- Seleccione una opcion ---</option>
                  <option *ngFor="let Prioridad of Prioridades" value={{Prioridad.idPrioridad}}>{{Prioridad.nombrePrioridad}}</option>
                </select>
              </div>
              <br><br>
              <div class="col-md-12">
                <textarea class="form-control requiered" [(ngModel)]="Bitacora.descripcion" name="txtBitacora" required [disabled]="soloLectura"></textarea>
              </div>

            </div>
            <div class="form-group row">
              <div class="col-md-12">
                <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                  <div class="form-control" data-trigger="fileinput">
                    <i class="glyphicon glyphicon-file fileinput-exists"></i>
                    <span class="fileinput-filename" id="NombreArchUpd"></span>
                  </div>
                  <span class="input-group-addon btn btn-secondary btn-file">
                    <span class="fileinput-new">Adjuntar</span>
                    <span class="fileinput-exists">Change</span>
                    <input id="fileuploadUPD" type="file" name="fileuploadUPD" (change)="NombreArchivo()" [disabled]="soloLectura">
                  </span>
                </div>

                <!-- Aviso de nombre de archivo -->
                <div *ngIf="!soloLectura" style="margin-top: 6px; padding: 6px 10px; background-color: #fff8e1; border-left: 4px solid #F59325; border-radius: 3px; font-size: 12px; color: #6d4c00;">
                  <i class="fa fa-exclamation-triangle" style="color: #F59325;"></i>
                  <strong>Importante:</strong> el nombre del archivo debe ir <strong>sin tildes, sin ñ ni caracteres especiales</strong>
                  (#, &amp;, %, ´, etc.). Solo letras, números, espacios, guion (-), guion bajo (_), puntos y paréntesis.
                  Tamaño máximo: 25 MB.
                  <br>
                  <span style="color: #8a6d3b;">Ej.: <b>PPT Reunion de obra T9.pdf</b> en vez de <b>PPT Reunión de obra T9.pdf</b></span>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="form-actions">
            <div class="row">
              <div class="col-md-offset-4 col-md-8">
                <button type="button" ID="btnEditarBitacora" class="btn btn-success" (click)="Actualizar()" [disabled]="loading || soloLectura" *ngIf="!soloLectura">Editar</button>
                <button type="button" ID="btnEliminarBitacora" class="btn btn-danger" (click)="Eliminar()" [disabled]="loading || soloLectura" *ngIf="!soloLectura">Eliminar</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="OcultarPopUpEditar()">Close</button>
      </div>
    </div>
  </div>
</div>