mat-list{
    display: flex;
    flex-wrap: wrap;
}

mat-list-item{
    width: 33.33333%;
    border: 1px solid #ccc;
}

.right{
    float: right;
    display: flex;
}

.mright{
    margin-right: 5px;
}

.pointer{
    cursor: pointer;
}

.userInformation{
    font-weight: bold;
}

.pass{
    margin-top: 20px;
}

.form{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}