<table class="table table-bordered table-striped table-hover no-footer">
    <thead>
        <tr>
            <th>Atribuciones</th>
            <th>Externos</th>
            <th>Administración</th>
            <th>Jefe Administración</th>
            <th>Gerente</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Proveedores</td>
            <td><i class="glyphicon glyphicon-remove icono text-danger"></i></td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
        </tr>
        <tr>
            <td>Cuentas de Banco</td>
            <td><i class="glyphicon glyphicon-remove icono text-danger"></i></td>
            <td><i class="glyphicon glyphicon-remove icono text-danger"></i></td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
        </tr>
        <tr>
            <td>Tipos de Gasto</td>
            <td><i class="glyphicon glyphicon-remove icono text-danger"></i></td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
        </tr>
        <tr>
            <td>Centro Costo</td>
            <td><i class="glyphicon glyphicon-remove icono text-danger"></i></td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
        </tr>
        <tr>
            <td>Monto Inicial</td>
            <td><i class="glyphicon glyphicon-remove icono text-danger"></i></td>
            <td><i class="glyphicon glyphicon-remove icono text-danger"></i></td>
            <td><i class="glyphicon glyphicon-remove icono text-danger"></i></td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
        </tr>
        <tr>
            <td>Cierre Financiero</td>
            <td><i class="glyphicon glyphicon-remove icono text-danger"></i></td>
            <td><i class="glyphicon glyphicon-remove icono text-danger"></i></td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
        </tr>
        <tr>
            <td>Cargar Cotización</td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
        </tr>
        <tr>
            <td>Mis Cotizaciones</td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
        </tr>
        <tr>
            <td>Orden de Compra</td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
        </tr>
        <tr>
            <td>Aprobacion OC</td>
            <td><i class="glyphicon glyphicon-remove icono text-danger"></i></td>
            <td><i class="glyphicon glyphicon-remove icono text-danger"></i></td>
            <td><i class="glyphicon glyphicon-remove icono text-danger"></i></td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
        </tr>
        <tr>
            <td>Ordenes Rechazadas</td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
        </tr>
        <tr>
            <td>Lista Ordenes</td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
        </tr>
        <tr>
            <td>Cuenta Corriente</td>
            <td><i class="glyphicon glyphicon-remove icono text-danger"></i></td>
            <td><i class="glyphicon glyphicon-remove icono text-danger"></i></td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
        </tr>
        <tr>
            <td>Centro Costo</td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
        </tr>
        <tr>
            <td>Ingreso Egreso</td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
        </tr>
        <tr>
            <td>Caja Chica</td>
            <td><i class="glyphicon glyphicon-remove icono text-danger"></i></td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
        </tr>
        <tr>
            <td>Reporte Operacional</td>
            <td><i class="glyphicon glyphicon-remove icono text-danger"></i></td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
        </tr>
        <tr>
            <td>Reporte Financiero</td>
            <td><i class="glyphicon glyphicon-remove icono text-danger"></i></td>
            <td><i class="glyphicon glyphicon-remove icono text-danger"></i></td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
        </tr>
    </tbody>
</table>
