<table class="table table-bordered table-striped table-hover no-footer">
    <thead>
        <tr>
            <th>Atribuciones</th>
            <th>Clientes</th>
            <th>Seguridad</th>
            <th>Coordinador</th>
            <th>Director</th>
            <th>Sub Gerente</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Proyecto Matriz</td>
            <td><i class="glyphicon glyphicon-remove icono text-danger"></i></td>
            <td><i class="glyphicon glyphicon-remove icono text-danger"></i></td>
            <td><i class="glyphicon glyphicon-remove icono text-danger"></i></td>
            <td><i class="glyphicon glyphicon-remove icono text-danger"></i></td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
        </tr>
        <tr>
            <td>Proyecto</td>
            <td><i class="glyphicon glyphicon-remove icono text-danger"></i></td>
            <td><i class="glyphicon glyphicon-remove icono text-danger"></i></td>
            <td><i class="glyphicon glyphicon-remove icono text-danger"></i></td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
        </tr>
        <tr>
            <td>Validar Proyecto</td>
            <td><i class="glyphicon glyphicon-remove icono text-danger"></i></td>
            <td><i class="glyphicon glyphicon-remove icono text-danger"></i></td>
            <td><i class="glyphicon glyphicon-remove icono text-danger"></i></td>
            <td><i class="glyphicon glyphicon-remove icono text-danger"></i></td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
        </tr>
        <tr>
            <td>Sub-Proyecto</td>
            <td><i class="glyphicon glyphicon-remove icono text-danger"></i></td>
            <td><i class="glyphicon glyphicon-remove icono text-danger"></i></td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
        </tr>
        <tr>
            <td>Validar Sub-Proyecto</td>
            <td><i class="glyphicon glyphicon-remove icono text-danger"></i></td>
            <td><i class="glyphicon glyphicon-remove icono text-danger"></i></td>
            <td><i class="glyphicon glyphicon-remove icono text-danger"></i></td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
        </tr>
        <tr>
            <td>Ritmos</td>
            <td><i class="glyphicon glyphicon-remove icono text-danger"></i></td>
            <td><i class="glyphicon glyphicon-remove icono text-danger"></i></td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
        </tr>
        <tr>
            <td>Validar Ritmos</td>
            <td><i class="glyphicon glyphicon-remove icono text-danger"></i></td>
            <td><i class="glyphicon glyphicon-remove icono text-danger"></i></td>
            <td><i class="glyphicon glyphicon-remove icono text-danger"></i></td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
        </tr>
        <tr>
            <td>Mis Proyectos</td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
            <td><i class="glyphicon glyphicon-remove icono text-danger"></i></td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
        </tr>
        <tr>
            <td>Administración de usuarios</td>
            <td><i class="glyphicon glyphicon-remove icono text-danger"></i></td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
            <td><i class="glyphicon glyphicon-remove icono text-danger"></i></td>
            <td><i class="glyphicon glyphicon-remove icono text-danger"></i></td>
            <td><i class="glyphicon glyphicon-remove icono text-danger"></i></td>
        </tr>
    </tbody>
</table>
