<app-main></app-main>

<div class="content-wrap">
    <main id="content" role="main"class="content">
        <div>
            
            <app-home-adn></app-home-adn>
        </div>
    </main>
</div>



<!-- 
<div>
    <div class="row">
        <!--Mis Proyectos
        <a href="/MisProyectos/MisProyectos">
            <div class="col-lg-1 tooltipHome">
                <span class="tooltiptext">MIS PROYECTOS</span>
                <section class="widget widget-card" style="background: #43bb05;" >
                    <div class="widget-body clearfix">
                        <div class="row">
                            <div class="col-xs-offset-2 col-xs-3">
                                <span class="widget-icon" style="opacity: 1;">
                                    <i class="fa fa-archive"></i>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-offset-1 col-xs-5">
                                <h6 class="no-margin">Proyectos Activos</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-offset-4">
                                <p class="value5 no-margin"><label ID="lblCantProyActivos"></label></p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </a>
        <!--Crear Proyectos
        <a href="/Proyectos/proyectoMatriz">
            <div class="col-lg-1 tooltipHome" id="Proyectos">
                <span class="tooltiptext">CREAR/EDITAR PROYECTOS</span>
                <section class="widget widget-card text-white" style="background: #f48826;">
                    <div class="widget-body clearfix">
                        <div class="row">
                            <div class="col-xs-offset-2 col-xs-3">
                                <span class="widget-icon" style="opacity: 1;">
                                    <i class="fa fa-briefcase"></i>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-offset-1 col-xs-12">
                                <p class="h6 no-margin fw-normal">Crear y editar proyectos</p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </a>
        <!--Configuracion Sub Proyectos
        <a href="/Ritmos/RitmosEntreRitmos">
            <div class="col-lg-offset-2 col-lg-1 tooltipHome">
                <span class="tooltiptext">Configuración SubProyecto</span>
                <section class="widget widget-card text-white" style="background: #3d3e43;">
                    <div class="widget-body clearfix">
                        <div class="row">
                            <div class="col-xs-offset-2 col-xs-3">
                                <span class="widget-icon" style="opacity: 1;">
                                    <i class="fa fa-cogs"></i>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-9">
                                <p class="h6 no-margin fw-normal">Configuración de Sub-Proyectos</p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </a>
    </div>
    <div class="row">
        <!--Mis Tareas
        <a href="/MisProyectos/MisTareas">
            <div class="col-lg-1 col-lg-offset-2 tooltipHome">
                <span class="tooltiptext">MIS TAREAS<p class="h6 no-margin fw-normal">Permite ver las tareas que se me han asignadas</p></span>
                <section class="widget widget-card text-white" style="background: #026AA7;">
                    <div class="widget-body clearfix" >
                        <div class="row">
                            <div class="col-xs-offset-2 col-xs-3">
                                <span class="widget-icon" style="opacity: 1;">
                                    <i class="fa fa-tasks"></i>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-9">
                                <h6 class="no-margin">Tareas Pendientes</h6>
                                <div>
                                    <div>
                                        <p class="value5"><label CssClass="col-xs-offset-4" ID="lblTareasPendientes"></label></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </a>
        <!--Reportes
        <a href="/Reportes/ResumenSP">
            <div class="col-lg-1 tooltipHome">
                <span class="tooltiptext">Reportes</span>
                <section class="widget widget-card text-white" style="background: #3d3e43;">
                    <div class="widget-body clearfix">
                        <div class="row">
                            <div class="col-xs-offset-2 col-xs-3">
                                <span class="widget-icon" style="opacity: 1;">
                                    <i class="fa fa-eye"></i>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-9">
                                <p class="h6 no-margin fw-normal">Reportes del sistema</p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </a>
        <!--Graficos
        <a href="/Graficos/ProyectosUsuarios">
            <div class="col-lg-1 col-lg-offset-3 tooltipHome">
                <span class="tooltiptext">Gráficos</span>
                <section class="widget widget-card text-white" style="background: #f48826;">
                    <div class="widget-body clearfix">
                        <div class="row">
                            <div class="col-xs-3 col-xs-offset-2">
                                <span class="widget-icon" style="opacity: 1;">
                                    <i class="fa fa-bar-chart-o"></i>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-9">
                                <p class="h6 no-margin fw-normal">Permite ver graficos</p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </a>
    </div>
    <br />
    <br />
    <br />
    <br />
    <div class="row">
            <div class="col-lg-12">
                <section class="widget">
                    <header style="background-color: #555555">
                        <h5 style="color: white;">
                            <strong>Resumen Sub-Proyectos</strong>
                        </h5>
                        <div class="widget-controls" style="color: white;">
                            <a data-widgster="expand" title="Expand" href="#" style="display: none; color: white;"><i class="glyphicon glyphicon-chevron-up"></i></a>
                            <a data-widgster="collapse" title="Collapse" href="#" style="color: white;"><i class="glyphicon glyphicon-chevron-down"></i></a>
                            <a data-widgster="close" title="Close" href="#" style="color: white;"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    </header>
                    <div class="widget-body" id="dvProy1">
                        <fieldset>
                            <legend></legend>
                            <div class="form-group row" *ngFor="let Proy of Proyectos ; let i = index" [attr.data-index]="i">
                                <label ID="lblProy1" CssClass="col-md-2 form-control-label black">{{Proy.Nombre}}</label>
                                <label ID="lblAvanceProy1" CssClass="col-md-1 form-control-label black">{{Proy.Avance}}%</label>
                                <div class="col-md-9 ">
                                    <div class="bg-gray-lighter mt-md">
                                        <progress name="pgProy" class="progress progress-sm" [ngClass]="getClase(Proy.Estado)" value="100" max="100" [ngStyle]="setMyStyles(i)"></progress>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </section>
            </div>
        </div>
</div>

<div class="loader-wrap" *ngIf="status">
    <i class="fa fa-circle-o-notch fa-spin-fast"></i>
</div>
 -->
