<section class="widget">
  <header style="background-color: #555555">
    <h5 style="color: white;">
      <strong>
        Archivos estandares
      </strong>
    </h5>
  </header>
  <div class="widget-body">
    <fieldset>
      <legend></legend>

      <div class="panel panel-default" *ngFor="let panel of paneles">
        <div class="panel-heading">
          <h6 class="panel-title">
            <a class="collapsed w80" data-toggle="collapse" data-parent="#accordion" [attr.href]="'#' + panel.id"
              aria-expanded="false" (click)="CargaArchivos(panel.id, panel.tipo)">
              <h5>
                {{panel.titulo}}
                <i class="fa fa-angle-down pull-xs-right"></i>
              </h5>
            </a>
            <a *ngIf="!soloLectura" (click)="verPupUp(panel.tipo)"><mat-icon class="text-success">add_circle</mat-icon></a>
          </h6>
        </div>
        <div [id]="panel.id" class="panel-collapse collapse" aria-expanded="false">
          <div class="panel-body">
            <div class="div" *ngIf="open === panel.tipo">
              <table class="table table-bordered table-striped table-hover no-footer" cellspacing="0" rules="all" border="1"
                style="color:Blue;border-collapse:collapse;">
                <thead>
                  <tr style="color:White;background-color:#333333;font-weight:bold;">
                    <th scope="col">Nombre</th>
                    <th scope="col">Proyecto Matriz</th>
                    <th scope="col">Etapa</th>
                    <th scope="col">acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let archivo of Archivos$ | async; let i = index">
                    <td>
                      <a [href]="linkDescarga(archivo)" target="_blank">{{archivo.nombreArchivo}}</a>
                      <mat-icon *ngIf="archivo.urlFirebase" class="text-success" title="Respaldado en Firebase"
                        style="font-size:16px;height:16px;width:16px;vertical-align:middle;margin-left:4px;">cloud_done</mat-icon>
                    </td>
                    <td>
                      <span></span>
                    </td>
                    <td>
                      <span></span>
                    </td>
                    <td>
                      <button class="text-danger" mat-icon-button (click)="eliminar(archivo)" *ngIf="admin()">
                        <mat-icon>close</mat-icon>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    </fieldset>
  </div>
</section>


<app-agregar-archivo-estandar *ngIf="archivoEstandar" [archivoEstandar]="archivoEstandar" (cerrar)="cerrarpopUp($event)"></app-agregar-archivo-estandar>