<!-- Columnas en orden idEtapa 1..18 (catálogo de la BD). Los colores van por clase (et-*), no por posición. -->
<div class="row">
  <div class="col-lg-12">
    <div style="overflow-x: auto;">
    <table id="Etapas" class="table table-bordered table-striped table-hover no-footer" style="background-color: #f3f3f3">
      <thead>
        <tr class="tnbi">
          <th class="hidden-sm-down et-label"></th>
          <th class="hidden-sm-down et-requerimiento" [ngClass]="{'activo header': Requerimiento.vigente}" (click)="viewEtapa(1)">Requerimiento
            <span *ngIf="Requerimiento.vigente" class="fa fa-circle icono"></span>
          </th>
          <th class="hidden-sm-down et-nbi">NBI 1</th>
          <th class="hidden-sm-down et-factibilidad" [ngClass]="{'activo header': Factibilidad.vigente}" (click)="viewEtapa(3)">Factibilidad
            <span *ngIf="Factibilidad.vigente" class="fa fa-circle icono"></span>
          </th>
          <th class="hidden-sm-down et-nbi">NBI 2</th>
          <th class="hidden-sm-down et-layout" [ngClass]="{'activo header': Layout.vigente}" (click)="viewEtapa(5)">Layout
            <span *ngIf="Layout.vigente" class="fa fa-circle icono"></span>
          </th>
          <th class="hidden-sm-down et-nbi">NBI 3</th>
          <th class="hidden-sm-down et-proyecto" [ngClass]="{'activo header': Proyecto.vigente}" (click)="viewEtapa(7)">Proyecto
            <span *ngIf="Proyecto.vigente" class="fa fa-circle icono"></span>
          </th>
          <th class="hidden-sm-down et-nbi">NBI 4</th>
          <th class="hidden-sm-down et-regularizacion" [ngClass]="{'activo header': Licitacion.vigente}" (click)="viewEtapa(9)">Regularización
            <span *ngIf="Licitacion.vigente" class="fa fa-circle icono"></span>
          </th>
          <th class="hidden-sm-down et-licitacion" [ngClass]="{'activo header': Adjudicacion.vigente}" (click)="viewEtapa(10)">Licitación Adjudicación
            <span *ngIf="Adjudicacion.vigente" class="fa fa-circle icono"></span>
          </th>
          <th class="hidden-sm-down et-nbi">NBI 5</th>
          <th class="hidden-sm-down et-construccion" [ngClass]="{'activo header': Construccion.vigente}" (click)="viewEtapa(12)">Construcción
            <span *ngIf="Construccion.vigente" class="fa fa-circle icono"></span>
          </th>
          <th class="hidden-sm-down et-habilitacion" [ngClass]="{'activo header': Habilitacion.vigente}" (click)="viewEtapa(13)">Habilitación
            <span *ngIf="Habilitacion.vigente" class="fa fa-circle icono"></span>
          </th>
          <th class="hidden-sm-down et-nbi">NBI 6</th>
          <th class="hidden-sm-down et-cierre" [ngClass]="{'activo header': Contratista.vigente}" (click)="viewEtapa(15)">Cierre contratista
            <span *ngIf="Contratista.vigente" class="fa fa-circle icono"></span>
          </th>
          <th class="hidden-sm-down et-cierre" [ngClass]="{'activo header': Cliente.vigente}" (click)="viewEtapa(16)">Cierre cliente
            <span *ngIf="Cliente.vigente" class="fa fa-circle icono"></span>
          </th>
          <th class="hidden-sm-down et-cierre" [ngClass]="{'activo header': Mantencion.vigente}" (click)="viewEtapa(17)">Cierre mantención
            <span *ngIf="Mantencion.vigente" class="fa fa-circle icono"></span>
          </th>
          <th class="hidden-sm-down et-nbi">NBI 7</th>
          <th class="hidden-sm-down et-total">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="et-label">Dias</td>
          <td class="content-tabla et-requerimiento" [ngClass]="{activo: Requerimiento.vigente}">{{Requerimiento.duracion}}</td>
          <td class="content-tabla et-nbi">{{NBI1.duracion}}</td>
          <td class="content-tabla et-factibilidad" [ngClass]="{activo: Factibilidad.vigente}">{{Factibilidad.duracion}}</td>
          <td class="content-tabla et-nbi">{{NBI2.duracion}}</td>
          <td class="content-tabla et-layout" [ngClass]="{activo: Layout.vigente}">{{Layout.duracion}}</td>
          <td class="content-tabla et-nbi">{{NBI3.duracion}}</td>
          <td class="content-tabla et-proyecto" [ngClass]="{activo: Proyecto.vigente}">{{Proyecto.duracion}}</td>
          <td class="content-tabla et-nbi">{{NBI4.duracion}}</td>
          <td class="content-tabla et-regularizacion" [ngClass]="{activo: Licitacion.vigente}">{{Licitacion.duracion}}</td>
          <td class="content-tabla et-licitacion" [ngClass]="{activo: Adjudicacion.vigente}">{{Adjudicacion.duracion}}</td>
          <td class="content-tabla et-nbi">{{NBI5.duracion}}</td>
          <td class="content-tabla et-construccion" [ngClass]="{activo: Construccion.vigente}">{{Construccion.duracion}}</td>
          <td class="content-tabla et-habilitacion" [ngClass]="{activo: Habilitacion.vigente}">{{Habilitacion.duracion}}</td>
          <td class="content-tabla et-nbi">{{NBI6.duracion}}</td>
          <td class="content-tabla et-cierre" [ngClass]="{activo: Contratista.vigente}">{{Contratista.duracion}}</td>
          <td class="content-tabla et-cierre" [ngClass]="{activo: Cliente.vigente}">{{Cliente.duracion}}</td>
          <td class="content-tabla et-cierre" [ngClass]="{activo: Mantencion.vigente}">{{Mantencion.duracion}}</td>
          <td class="content-tabla et-nbi">{{NBI7.duracion}}</td>
          <td class="content-tabla et-total">{{ Requerimiento.duracion + NBI1.duracion + Factibilidad.duracion + NBI2.duracion + Layout.duracion + NBI3.duracion + Proyecto.duracion + NBI4.duracion + Licitacion.duracion + Adjudicacion.duracion + NBI5.duracion + Construccion.duracion + Habilitacion.duracion + NBI6.duracion + Contratista.duracion + Cliente.duracion + Mantencion.duracion + NBI7.duracion }}</td>
        </tr>
        <tr>
          <td class="et-label">Ponderado</td>
          <td class="content-tabla et-requerimiento" [ngClass]="{activo: Requerimiento.vigente}">{{Requerimiento.ponderado || 0}}%</td>
          <td class="content-tabla et-nbi"></td>
          <td class="content-tabla et-factibilidad" [ngClass]="{activo: Factibilidad.vigente}">{{Factibilidad.ponderado || 0}}%</td>
          <td class="content-tabla et-nbi"></td>
          <td class="content-tabla et-layout" [ngClass]="{activo: Layout.vigente}">{{Layout.ponderado || 0}}%</td>
          <td class="content-tabla et-nbi"></td>
          <td class="content-tabla et-proyecto" [ngClass]="{activo: Proyecto.vigente}">{{Proyecto.ponderado || 0}}%</td>
          <td class="content-tabla et-nbi"></td>
          <td class="content-tabla et-regularizacion" [ngClass]="{activo: Licitacion.vigente}">{{Licitacion.ponderado || 0}}%</td>
          <td class="content-tabla et-licitacion" [ngClass]="{activo: Adjudicacion.vigente}">{{Adjudicacion.ponderado || 0}}%</td>
          <td class="content-tabla et-nbi"></td>
          <td class="content-tabla et-construccion" [ngClass]="{activo: Construccion.vigente}">{{Construccion.ponderado || 0}}%</td>
          <td class="content-tabla et-habilitacion" [ngClass]="{activo: Habilitacion.vigente}">{{Habilitacion.ponderado || 0}}%</td>
          <td class="content-tabla et-nbi"></td>
          <td class="content-tabla et-cierre" [ngClass]="{activo: Contratista.vigente}">{{Contratista.ponderado || 0}}%</td>
          <td class="content-tabla et-cierre" [ngClass]="{activo: Cliente.vigente}">{{Cliente.ponderado || 0}}%</td>
          <td class="content-tabla et-cierre" [ngClass]="{activo: Mantencion.vigente}">{{Mantencion.ponderado || 0}}%</td>
          <td class="content-tabla et-nbi"></td>
          <td class="content-tabla et-total">100%</td>
        </tr>
        <tr>
          <td class="et-label">F. Termino</td>
          <td class="content-tabla et-requerimiento" [ngClass]="{activo: Requerimiento.vigente}">{{Terminos[0] | date:"dd/MM/yyyy"}}</td>
          <td class="content-tabla et-nbi"></td>
          <td class="content-tabla et-factibilidad" [ngClass]="{activo: Factibilidad.vigente}">{{Terminos[1] | date:"dd/MM/yyyy"}}</td>
          <td class="content-tabla et-nbi"></td>
          <td class="content-tabla et-layout" [ngClass]="{activo: Layout.vigente}">{{Terminos[2] | date:"dd/MM/yyyy"}}</td>
          <td class="content-tabla et-nbi"></td>
          <td class="content-tabla et-proyecto" [ngClass]="{activo: Proyecto.vigente}">{{Terminos[3] | date:"dd/MM/yyyy"}}</td>
          <td class="content-tabla et-nbi"></td>
          <td class="content-tabla et-regularizacion" [ngClass]="{activo: Licitacion.vigente}">{{Terminos[4] | date:"dd/MM/yyyy"}}</td>
          <td class="content-tabla et-licitacion" [ngClass]="{activo: Adjudicacion.vigente}">{{Terminos[5] | date:"dd/MM/yyyy"}}</td>
          <td class="content-tabla et-nbi"></td>
          <td class="content-tabla et-construccion" [ngClass]="{activo: Construccion.vigente}">{{Terminos[6] | date:"dd/MM/yyyy"}}</td>
          <td class="content-tabla et-habilitacion" [ngClass]="{activo: Habilitacion.vigente}">{{Terminos[7] | date:"dd/MM/yyyy"}}</td>
          <td class="content-tabla et-nbi"></td>
          <td class="content-tabla et-cierre" [ngClass]="{activo: Contratista.vigente}">{{Terminos[8] | date:"dd/MM/yyyy"}}</td>
          <td class="content-tabla et-cierre" [ngClass]="{activo: Cliente.vigente}">{{Terminos[9] | date:"dd/MM/yyyy"}}</td>
          <td class="content-tabla et-cierre" [ngClass]="{activo: Mantencion.vigente}">{{Terminos[10] | date:"dd/MM/yyyy"}}</td>
          <td class="content-tabla et-nbi"></td>
          <td class="content-tabla et-total"></td>
        </tr>
        <tr>
          <td class="et-label">F. Termino Real</td>
          <td class="content-tabla et-requerimiento" [ngClass]="{'activo bottom': Requerimiento.vigente}">{{Requerimiento.fechaTerminoReal | date:"dd/MM/yyyy"}}</td>
          <td class="content-tabla et-nbi"></td>
          <td class="content-tabla et-factibilidad" [ngClass]="{'activo bottom': Factibilidad.vigente}">{{Factibilidad.fechaTerminoReal | date:"dd/MM/yyyy"}}</td>
          <td class="content-tabla et-nbi"></td>
          <td class="content-tabla et-layout" [ngClass]="{'activo bottom': Layout.vigente}">{{Layout.fechaTerminoReal | date:"dd/MM/yyyy"}}</td>
          <td class="content-tabla et-nbi"></td>
          <td class="content-tabla et-proyecto" [ngClass]="{'activo bottom': Proyecto.vigente}">{{Proyecto.fechaTerminoReal | date:"dd/MM/yyyy"}}</td>
          <td class="content-tabla et-nbi"></td>
          <td class="content-tabla et-regularizacion" [ngClass]="{'activo bottom': Licitacion.vigente}">{{Licitacion.fechaTerminoReal | date:"dd/MM/yyyy"}}</td>
          <td class="content-tabla et-licitacion" [ngClass]="{'activo bottom': Adjudicacion.vigente}">{{Adjudicacion.fechaTerminoReal | date:"dd/MM/yyyy"}}</td>
          <td class="content-tabla et-nbi"></td>
          <td class="content-tabla et-construccion" [ngClass]="{'activo bottom': Construccion.vigente}">{{Construccion.fechaTerminoReal | date:"dd/MM/yyyy"}}</td>
          <td class="content-tabla et-habilitacion" [ngClass]="{'activo bottom': Habilitacion.vigente}">{{Habilitacion.fechaTerminoReal | date:"dd/MM/yyyy"}}</td>
          <td class="content-tabla et-nbi"></td>
          <td class="content-tabla et-cierre" [ngClass]="{'activo bottom': Contratista.vigente}">{{Contratista.fechaTerminoReal | date:"dd/MM/yyyy"}}</td>
          <td class="content-tabla et-cierre" [ngClass]="{'activo bottom': Cliente.vigente}">{{Cliente.fechaTerminoReal | date:"dd/MM/yyyy"}}</td>
          <td class="content-tabla et-cierre" [ngClass]="{'activo bottom': Mantencion.vigente}">{{Mantencion.fechaTerminoReal | date:"dd/MM/yyyy"}}</td>
          <td class="content-tabla et-nbi"></td>
          <td class="content-tabla et-total"></td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
</div>