<table class="table table-bordered table-striped table-hover no-footer">
    <thead>
        <tr>
            <th>Atribuciones</th>
            <th>Coordinador</th>
            <th>Director</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Areas</td>
            <td><i class="glyphicon glyphicon-remove icono text-danger"></i></td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
        </tr>
        <tr>
            <td>Mandantes</td>
            <td><i class="glyphicon glyphicon-remove icono text-danger"></i></td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
        </tr>
        <tr>
            <td>Ejecutivos</td>
            <td><i class="glyphicon glyphicon-remove icono text-danger"></i></td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
        </tr>
        <tr>
            <td>Hitos</td>
            <td><i class="glyphicon glyphicon-remove icono text-danger"></i></td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
        </tr>
        <tr>
            <td>Licitaciones</td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
        </tr>
        <tr>
            <td>Mis licitaciones</td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
        </tr>
        <tr>
            <td>Graficos</td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
            <td><i class="glyphicon glyphicon-ok icono text-success"></i></td>
        </tr>
    </tbody>
</table>
